{% extends "base.html" %}
{% block content %}
    <div class="post-list">
        {% if posts %}
            {% for post in posts %}
                <div class="post-item">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div class="post-meta">{{ post.create_time }}</div>
                    <div class="post-content">{{ post.content }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="empty">暂无文章，快去新增吧！</div>
        {% endif %}
    </div>
{% endblock %}
